body{
    font-family: sans-serif;
}

.page-content{
    filter: blur(5px)
}

nav {
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3492eb;
}

.pop-up{
    width: 300px;
    height: 200px;
    color: #3492eb;
    background-color:white;
    border: 1px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}
.text-popup{
    font-size: larger;
}
